<mat-toolbar color="primary" class="navbar">
  <mat-toolbar-row>
    <span>PawAngUlar</span>
    <span class="spacer"></span>
    <span>About</span>
    <span>FAQ</span>
  </mat-toolbar-row>
</mat-toolbar>
<!--
<nav>
  <p>toolbar component</p>
  <p>
    <button (click)="showLogin()">login</button>
    <button (click)="showRegister()">register</button>
  </p>
</nav> -->
<!-- <router-outlet></router-outlet> -->

<!-- <app-login></app-login> -->

<!-- <mat-toolbar color="primary" class="navbar">
  <div>PawAngUlar</div>
  <div>
    <span>About</span>
    <span>FAQ</span>
  </div>
</mat-toolbar> -->
