<!-- <p>
  account-list works!
</p>

  <button mat-raised-button (click)="add()">add</button>

<table>
  <tr>
    <td>Account Number</td>
    <td>Account Name</td>
    <td>Balance</td>
    <td>Open Date</td>
  </tr>
  <tr *ngFor="let account of accounts">
    <td>{{account.accountNumber}}</td>
    <td>{{account.accountName}}</td>
    <td>{{account.balance}}</td>
    <td>{{account.openDate}}</td>
  </tr>
</table> -->

<!-- <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      layout
    </mat-grid-tile>
  </mat-grid-list> -->

<button mat-raised-button (click)="add()">add</button>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="accountNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Number </th>
      <!-- <td mat-cell *matCellDef="let row">{{row.accountNumber}} </td> -->
      <td mat-cell *matCellDef="let row">{{dataSource.data.indexOf(row)}} </td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="accountName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Name </th>
      <td mat-cell *matCellDef="let row"> {{row.accountName}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Balance </th>
      <td mat-cell *matCellDef="let row"> {{row.balance}}% </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="openDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Open Date </th>
      <td mat-cell *matCellDef="let row"> {{row.openDate}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let row"> <button color="primary" mat-button (click)="edit(dataSource.data.indexOf(row))">{{dataSource.data.indexOf(row)}}</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

