<!-- <app-toolbar></app-toolbar>
<app-register></app-register> -->
<!-- <app-login></app-login> -->

<!-- <p>app component</p>

<nav>
  <a routerLink="/toolbar" routerLinkActive="active">toolbar</a> <br>
  <a routerLink="/sidenav" routerLinkActive="active">sidenav</a>
</nav> -->
<router-outlet></router-outlet>
<!-- <router-outlet></router-outlet> -->
<!-- <app-login (menu)='open($event)'>Your Form</app-login>
<app-login [error]="'Username or password invalid'" (menu)='open($event)'>Your Form With Error Message</app-login> -->

<!-- <app-sidenav></app-sidenav> -->

<!-- <button mat-raised-button>button material</button> -->
