<mat-card-header>
    <mat-card-title>Transfer</mat-card-title>
  </mat-card-header>
  
<form [formGroup]="addCusForm">
      <mat-grid-list cols="2" [cols]="breakpoint" rowHeight="85px" (window:resize)="onResize($event)">
          <mat-card-content>

        <mat-grid-tile>
          <div class="text-inside">
              <mat-form-field appearance="outline">
                <mat-label>Your Account</mat-label>
                <mat-select formControlName="accountDebitNumber">
                  <mat-option *ngFor="let walletAccount of walletAccounts" [value]="walletAccount.account.accountNumber">
                      {{walletAccount.wallet.description}} - {{walletAccount.account.accountNumber}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field appearance="outline">
              <mat-label>Destination Account</mat-label>
              <input matInput formControlName="accountCreditNumber">
              <mat-error *ngIf="addCusForm.controls['accountCreditNumber'].hasError('required')">
                Please enter destinantion account
              </mat-error>
            </mat-form-field>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field appearance="outline">
              <mat-label>Amount</mat-label>
              <input matInput formControlName="amount">
              <mat-error *ngIf="addCusForm.controls['amount'].hasError('required')">
                Please enter amount
              </mat-error>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        </mat-card-content>
      </mat-grid-list>

      <div class="button">
        <button mat-raised-button type="submit" color="primary" class="margin" [disabled]="addCusForm.invalid" (click)="onAddCus()">Send</button>
        <button mat-raised-button type="button" class="margin" (click)="openDialog()">Cancel</button>
      </div>

    </form>
