<mat-card>
    <h2>Wallet Account</h2>
    <div class="topright">
        <mat-chip-list >
            <mat-chip color="primary" selected (click)="add()" >Add</mat-chip>
        </mat-chip-list>
    </div>
  <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
          <th class="small" mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
          <td class="small" mat-cell *matCellDef="let row">{{row.id}} </td>
        </ng-container>

        <ng-container matColumnDef="wallet">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Wallet </th>
          <td mat-cell *matCellDef="let row"> {{row.wallet.description}} </td>
        </ng-container>

        <ng-container matColumnDef="accountNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Number </th>
          <td mat-cell *matCellDef="let row"> {{row.account.accountNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="account">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Name </th>
          <td mat-cell *matCellDef="let row"> {{row.account.accountName}} </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th class="small" mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
            <td class="small" mat-cell *matCellDef="let row">
              <button mat-icon-button color="warn" (click)="delete(dataSource.data.indexOf(row))">
                  <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-card>