<mat-card>
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
      <form [formGroup]="registrationForm" (ngSubmit)="register()">
        Value: {{registrationForm.value | json}}
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-hint align="end">Create email</mat-hint>
            <mat-error *ngIf="email.invalid">
                <mat-error *ngIf="registrationForm.controls['email'].errors?.required">Email is required</mat-error>
                <mat-error *ngIf="registrationForm.controls['email'].errors?.email">Email is not valid</mat-error>
                <mat-error *ngIf="registrationForm.controls['email'].errors?.existEmail">Email {{registrationForm.controls['email'].errors?.existEmail.value}} already exist</mat-error>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="" matInput formControlName="password">
            <mat-hint align="end">Create password</mat-hint>
            <mat-error *ngIf="password.invalid">
              <mat-error *ngIf="registrationForm.controls['password'].errors?.required">Password is required</mat-error>
              <mat-error *ngIf="registrationForm.controls['password'].errors?.minlength">Password must be at least 8 characters</mat-error>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input type="" matInput formControlName="confirmPassword">
            <mat-hint align="end">Input password again</mat-hint>
            <mat-error *ngIf="registrationForm.controls['confirmPassword'].errors?.required || registrationForm.controls['confirmPassword'].errors?.mismatch">
              <mat-error *ngIf="registrationForm.controls['confirmPassword'].errors?.required">Confirm password is required</mat-error>
              <mat-error *ngIf="registrationForm.controls['confirmPassword'].errors?.mismatch">Password do not match</mat-error>
            </mat-error>
          </mat-form-field>
        </p>

        <div class="button">
          <button type="submit" mat-raised-button color="primary" [disabled]="registrationForm.invalid" color="primary">Login</button>
          <button (click)="loadApiData()" type="button" mat-raised-button color="primary">load api data</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
