<mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <!-- Value: {{registrationForm.value | json}} -->
        <p>
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstname" required>
            <mat-hint align="end">Create first name</mat-hint>
            <mat-error *ngIf="firstname.invalid">
              <mat-error *ngIf="registrationForm.controls['firstname'].errors?.required">Password is required</mat-error>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastname" required>
            <mat-hint align="end">Create last name</mat-hint>
            <mat-error *ngIf="lastname.invalid">
              <mat-error *ngIf="registrationForm.controls['lastname'].errors?.required">Password is required</mat-error>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Birthdate</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthdate" disabled required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
            <mat-hint align="end">Create birthdate</mat-hint>
            <mat-error *ngIf="birthdate.invalid">
              <mat-error *ngIf="registrationForm.controls['birthdate'].errors?.required">Password is required</mat-error>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="username" required>
            <mat-hint align="end">Create email</mat-hint>
            <mat-error *ngIf="username.invalid">
                <mat-error *ngIf="registrationForm.controls['username'].errors?.required">Email is required</mat-error>
                <mat-error *ngIf="registrationForm.controls['username'].errors?.email">Email is not valid</mat-error>
                <mat-error *ngIf="registrationForm.controls['username'].errors?.existEmail">Email {{registrationForm.controls['username'].errors?.existEmail.value}} already exist</mat-error>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input [type]="hide ? 'password' : 'text'" matInput formControlName="password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-hint align="end">Create password</mat-hint>
            <mat-error *ngIf="password.invalid">
              <mat-error *ngIf="registrationForm.controls['password'].errors?.required">Password is required</mat-error>
              <mat-error *ngIf="registrationForm.controls['password'].errors?.minlength">Password must be at least 8 characters</mat-error>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input [type]="hide2 ? 'password' : 'text'" matInput formControlName="confirmPassword">
            <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-hint align="end">Input password again</mat-hint>
            <mat-error *ngIf="registrationForm.controls['confirmPassword'].errors?.required || registrationForm.controls['confirmPassword'].errors?.mismatch">
              <mat-error *ngIf="registrationForm.controls['confirmPassword'].errors?.required">Confirm password is required</mat-error>
              <mat-error *ngIf="registrationForm.controls['confirmPassword'].errors?.mismatch">Password do not match</mat-error>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-checkbox formControlName="agree">
            I accept terms and conditions
          </mat-checkbox>
          <mat-error *ngIf="agree.invalid">
            You have to agree
          </mat-error>
        </p>

        <div class="button">
          <button type="submit" mat-raised-button color="primary" [disabled]="registrationForm.invalid" color="primary">Register</button>
          <!-- <button (click)="loadApiData()" type="button" mat-raised-button color="primary">load api data</button> -->
          <span class="spacer"></span>
          <a mat-raised-button style="background-color: green; color: white" routerLink="/login">Login</a>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
