
:host {
  display: flex;
  justify-content: center;
  /* margin: 100px 0px; */
  /* background: #3395e0; */

}
.f1{
color: white;
display: flex;
font-family: Arial narrow;
margin-right: 2px;
  margin-left: 4cm;
  margin-top: 1cm;
  margin-bottom: 1px;
}

.f2{
  color: white;
  display: flex;
  font-family: Arial narrow;
  margin-right: 2px;
    margin-left: 4cm;
    margin-top: 0cm;
    margin-bottom: 1px;
  }
  

.example-button-row a {
  border-color: white;
  color: white;
  margin-right: 8px;
  margin-left: 5cm;
  margin-top: 1.3cm;
  margin-bottom: 10px;
  width: 4cm;
  height: 1.5cm;
  font-size: 15pt;
  border-radius: 5px;
  display: flex;
  padding-top: 10px;
}

/* .background{
  display: flex;
  justify-content: center;

  background: #3395e0;
} */
.mat-form-field {
  width: 100%;
  min-width: 300px;
  height: 60px;
  
}

.a {
  color: azure;
  font-family: forte;
  background-size: cover
}

mat-card {
  /* height: 15cm; */
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
  margin-left: 0.5cm;
  margin-right: 0.5cm;

}

.kiri {
  width: 70%;
  height: 15.5cm;
  background: url(a.svg);
  background-size: 150%;
  box-shadow: none;

}

.kanan{
  width: 20%;
  
  min-width: 8cm;
}

mat-card-header,
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  width: auto;
}

/* .error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
} */

.button {
  display: flex;
  justify-content: flex-start;
}

.spacer {
  flex: 1 1 auto;
}

span {
  padding-right: 1rem;
}
