<mat-card class="parent">
    <mat-grid-list cols="4" [cols]="breakpoint" rowHeight="200px" (window:resize)="onResize($event)">
        <!-- <mat-card-content> -->
      <mat-grid-tile>
        <mat-icon class="icon">credit_card</mat-icon>
        <label class="number">6</label>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-icon class="icon">account_balance_wallet</mat-icon>
        <label class="number">6</label>
      </mat-grid-tile>

      <mat-grid-tile>
          <mat-icon class="icon">all_inbox</mat-icon>        
          <div class="number">4</div>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-icon class="icon">swap_horiz</mat-icon>        
        <div class="number">4</div>
      </mat-grid-tile>

      <!-- </mat-card-content> -->
    
    </mat-grid-list>
</mat-card>