mat-grid-tile {
  background: #673ab7;
  color: white;
}

mat-card-header,
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.icon {
  font-size: 100px;
  margin-bottom: 80px;
  margin-right: 80px;
}

.number {
  /* margin-left: 40px; */
  font-size: 100px;
}