mat-form-field {
  width: 90%;
}

.margin {
  margin: 5px;
}

.button {
  display: flex;
  justify-content: flex-start;
}

.spacer {
  flex: 1 1 auto;
}

span {
  padding-right: 1rem;
}

mat-card-header,
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.text-inside {
  position: absolute;
  left: 5px;
  width: 100%;
}
@media (max-width: 800px) {
  .btn-sec {
    margin-right: 1rem !important;
  }
}
@media (max-width: 600px) {
  .btn-sec {
    margin-right: 1rem !important;
  }
}
