<div>
  <div class="add-title">
    <h3 class="primary">Add Account</h3>
  </div>
  <div>
    <form [formGroup]="addCusForm">
      <mat-grid-list cols="2" [cols]="breakpoint" rowHeight="85px" (window:resize)="onResize($event)">

        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field>
              <input matInput placeholder="Account Name"  formControlName="accountName" required>
              <mat-error *ngIf="addCusForm.controls['accountName'].hasError('required')">
                Please enter account name
              </mat-error>
            </mat-form-field>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field>
              <input matInput placeholder="Balance" formControlName="balance" required>
              <mat-error *ngIf="addCusForm.controls['balance'].hasError('required')">
                Please enter balance
              </mat-error>
            </mat-form-field>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <div class="btn-sec">
        <button mat-raised-button type="submit" color="primary" class="Update-btn" [disabled]="addCusForm.invalid" (click)="onAddCus()">Save</button>
        <button mat-raised-button type="button" class="Discard-btn" (click)="openDialog()">Cancel</button>
      </div>
     

    </form>
  </div>
</div>
