<!-- <mat-grid-list cols="12"  rowHeight="1:1">
   
   
    <mat-grid-tile [colspan]= 12>
    <mat-grid-tile-header>header</mat-grid-tile-header>
    matap
   
        <mat-grid-tile-footer>footer</mat-grid-tile-footer> 
  
  </mat-grid-tile>
    
  <mat-grid-tile [colspan]= 7>1</mat-grid-tile>
  <mat-grid-tile [colspan]= 5>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
      
   
  </mat-grid-list> -->

<!--   
<mat-grid-list cols="15" rowHeight="fit">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile [colspan]= 15>2</mat-grid-tile>
 
</mat-grid-list>
<mat-grid-list cols="15" rowHeight="1:15">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
   
  </mat-grid-list> -->